name: Review

on: [push,pull_request]

env:
  CI: true

jobs:
  build:
    strategy:
      matrix:
        ruby: [2.5.9, 2.6.8, 2.7.4, 3.0.2]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Bundle Audit
      run: bundle exec ./exe/rvw bundle_audit
    - name: Test Review
      run: bundle exec ./exe/rvw tests
    - name: Multiple Command Review
      run: bundle exec ./exe/rvw bundle_audit tests
